.Home .lander {
  padding: 80px 0;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
}

.Home .lander h1 {
  font-family: "BigRiverScript", cursive;
  font-size: calc(10px + 3.5vmin);
  padding: 10px;
}

.Home .lander div {
  padding-top: 20px;
  display: inline-block;
}

.Home .lander .btn {
  border: 2px solid #276257;
  color: #276257;
  font-weight: 500;
  border-radius: 15px;
  width: 140px;
  padding: 10px;
}

.Home .lander .btn:hover {
  border: 2px solid #276257;
  background: #276257;
  color: white;
}

.Home .lander div a:first-child {
  margin-right: 20px;
}

.Home .notes {
  width: 70vw;
  margin: 0 auto;
}

.Home .notes h1 {
  font-size: calc(10px + 3.5vmin);
  font-family: "BigRiverScript", cursive;
  margin-left: 28px;
  padding-top: 25px;
}

.Home .notes h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: calc(10px + 1vmin);
  overflow: hidden;
  line-height: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Home .list-group-item {
  border-radius: 20px;
  border: none;
  margin: 0 auto;
  width: 70vw;
  margin-bottom: 5px;
}


.Home .list-group-item:hover {
  background-color: #e9d4cd85;
  color: #666;
  font-size: calc(10px + 1.2vmin);
}

.Home .notes p {
  color: #666;
}

.Home .lander div {
  padding-top: 20px;
}
.Home .lander div a:first-child {
  margin-right: 20px;
}