.NewNote {
  width: 55vw;
  margin: 0 auto;
}

.NewNote h3 {
  padding: 10px;
  margin-bottom: 15px;
}

.NewNote form {
  padding-bottom: 15px;
}

.NewNote form textarea {
  height: 12vh;
  font-size: 2.5vh;
  resize: none;
  border-radius: 15px;
  padding: 12px 20px;
}

.NewNote form #file {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.NewNote .uploadLabel {
  font-size: 13px;
  font-weight: 300;
}

.NewNote i {
  margin: 10px;
}

.NewNote form #file:focus + .uploadLabel,
.NewNote form #file + .uploadLabel:hover {
  background-color: #e9d4cd;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .NewNote {
    width: 85vw;
  }

  .NewNote form textarea {
    font-weight: 600;
  }
}